.rowFlexStart {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.rowFlexCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.rowFlexSpaceBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.playerCardContainer {
	&:hover {
		background-color: #f1f1f1;
	}
}

.hoverClass {
	cursor: pointer;
	&:hover {
		background-color: #f1f1f1;
	}
}
